@import "../../styles/mixins";

@mixin get-top-and-width($top, $width) {
  top: $top;
  width: $width;
}

@mixin hamburger-basics {
  position: absolute;
  height: 3px;
  background: $primary-color;
}

@mixin hamburger-basics-content {
  @include hamburger-basics;
  content: "";
}

.Hamburger {
  left: 1rem;
  @include get-top-and-width(2rem, 16px);
  @include hamburger-basics;

  &::before {
    @include get-top-and-width(-8px, 8px);
    @include hamburger-basics-content;
  }

  &::after {
    @include get-top-and-width(8px, 12px);
    @include hamburger-basics-content;
  }

  @include lgScreen {
    display: none;
  }
}
