$primary-color: #2A2A2A;
$secondary-color: #F02F23;
$light-black-one: #565656;
$light-black-two: #7C7C7C;
$border-color:  #E7E7E7;
$white-color: #FFFFFF;
$colors: $primary-color, $secondary-color, $primary-color, $secondary-color, $primary-color;
